.folder {
    position: fixed;
    right: 0;
    bottom: 1%;
    margin-right: 13px;
}

.footer  {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 0;
}