/* About Me Section */
.am {
    position: relative;
    margin-top: 20px;
    width: 100%;
}

.subclass {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.am-h,
.am-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.am h1 {
    font-weight: 600;
    padding: 15px 0;
    margin: 0 0;
}

.am p {
    text-align: center;
}