/* About Me Section */
.am {
    display: flex;
    justify-content: center;
    padding: 27px 0;
    width: 100%;
    align-items: flex-end;
}

.am-h,
.am-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.am h1 {
    font-weight: 600;
    padding: 15px 0;
    margin: 0 0;
}

.am p {
    text-align: center;
}